@use '../../../scss/variables' as v;
@use '../../../scss/mixins' as m;


.mainList {
  padding: 0 2rem;
  font-size: 1.2rem;
  @include m.mobile {
    padding: 0 0.5rem;
  }


  .word {
    display: grid;
    grid-template-columns: minmax(60px, 100px)  repeat(2, 1fr) 100px 100px;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    border-top: 1px solid #e3dede;
    @include m.mobile {
      gap: 5px;
    }

    &.active {
      background: v.$bg-main;
      cursor: pointer;
    }

    &:hover {
      background: v.$bg-main;
      cursor: pointer;
    }

    .expand {
      display: flex;
      align-items: center;
      font-size: 1rem;
      justify-content: flex-start;
      @include m.mobile {
        .mat-mdc-icon-button.mat-mdc-button-base {
          width: 30px;
          padding: 0;
        }
      }

    }

    .englishWord {
      width: 100%;
    }

    .translation {
      color: v.$color-second;
    }
  }


  .sentence {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: v.$bg-main;
    padding: 0 5rem 0.5rem 5rem;
    @include m.mobile {
      padding: 0 0.3rem 0.2rem 0.3rem;
    }

    .example {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      //margin-bottom: 1rem;
      .mat-body-2 {
        color: v.$color-second;
      }
    }

    .text {

      .englishSentence {
        // font-weight: 700;
        font-size: 1.5rem;
        @include m.mobile {
          font-size: 1rem;
        }
      }

      .translateSentence {
        font-size: 1rem;
        color: v.$color-second;
        cursor: pointer;
      }
    }

    .synonyms {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;
      color: v.$color-second;

      h3 {
        margin: 0;
      }

      @include m.mobile {
        border-top: 1px solid #dedada;
        flex-direction: column;
        gap: 3px;
        align-items: flex-start;
        h3 {
          margin: 0;
        }
      }

      &__item {
        color: black;
      }
    }

  }


}


