@use '../../../../../../scss/mixins' as m;

.nav{
  width: 100%;
  padding: 1rem;
  margin: 0 1rem;
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    input{
      border-bottom: 1px solid #f2f7fd;
      font-size: 1rem;
    }

    .form-control-theme{
      display: none;
    }

    .sort {
      margin-right: 2rem;
    }


  }
  @include m.mobile{
    margin: 0 auto;
    .content {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      //justify-content: flex-start;
      .form-control-theme {
        display: block;
      }
      .sort {
        margin: 0;
      }
    }
  }
}
