<header class="header">
  <div class="logo" routerLink="/">
    <!-- Вставка першого логотипу -->

    <img class="logo__img" src="./assets/img/hand-drawn-english-school-logo-template_23-2149495874.avif" alt="">
    <span class="logo__text">LinguaBoost</span>
    <!--<div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu1">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu1="matMenu" xPosition="before">
        <app-menu *ngFor="let item of $menu | async  as menu" [el]="item"></app-menu>
      </mat-menu>
    </div>-->


  </div>

  <div class="pages">
    <div class="page">
      <div routerLink="theme/1" class="page1">Words</div>
      <div class="page1">Sentences</div>
      <div routerLink="phrases/1" class="page1">Phrases</div>
    </div>
    <div class="pageMenu">
      <button mat-icon-button [matMenuTriggerFor]="menu2">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu2="matMenu" >
        <button  mat-menu-item>Words</button>
        <button mat-menu-item>Sentences</button>
        <button mat-menu-item>Phrases</button>
      </mat-menu>
    </div>

  </div>
  <div class="users">


    <button mat-icon-button class="user-icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="user-icon">
      <mat-icon>star</mat-icon>
    </button>
    <button mat-icon-button class="user-icon">
      <mat-icon>radio_button_checked</mat-icon>
    </button>
    <button mat-icon-button class="user-icon">
      <img src="./assets/img/men.jpg" alt="User image">
    </button>

  </div>
</header>
