<header class="header">
  <div class="logo" routerLink="/">
    <img class="logo__img" src="./assets/img/hand-drawn-english-school-logo-template_23-2149495874.avif" alt="">
    <span class="logo__text">LinguaBoost</span>
  </div>

  <div class="pages">
    <div class="page">
      <div appDynamicRouterLinkActive="theme" [routerLink]="['theme',-1]"  class="page1">Words</div>
      <div routerLink="phrases/0" appDynamicRouterLinkActive="sentence" [queryParams]="{query:'sentence'}" class="page1">Sentences</div>
      <div routerLink="phrases/0" appDynamicRouterLinkActive="phrases"  [queryParams]="{query:'phrase'}"  class="page1">Phrases</div>
      <div routerLink="book" routerLinkActive="active"  class="page1">Books</div>
      <div routerLink="stat" routerLinkActive="active"  class="page1">Statistic</div>
    </div>
    <div class="pageMenu">
      <button mat-icon-button [matMenuTriggerFor]="menu2">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu2="matMenu" >
        <button routerLink="theme/-1" mat-menu-item>Words</button>
        <button routerLink="phrases/0" [queryParams]="{query:'sentence'}" mat-menu-item>Sentences</button>
        <button routerLink="phrases/0" [queryParams]="{query:'phrase'}" mat-menu-item>Phrases</button>
        <button routerLink="book" mat-menu-item>Books</button>
        <button routerLink="stat" mat-menu-item>Statistic</button>
      </mat-menu>
    </div>

  </div>
  <div class="users">
    <!--<button mat-icon-button class="user-icon">
      <mat-icon>home</mat-icon>
    </button>-->

    <div class="input-field">
      <input placeholder="Search..." matInput type="text" [(ngModel)]="word">
      <button *ngIf="word" (click)="openDialog()" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>search</mat-icon>
      </button>
    </div>





<!--    <button mat-icon-button class="user-icon">
      <mat-icon>star</mat-icon>
    </button>-->
<!--    <button mat-icon-button class="user-icon">
      <mat-icon>radio_button_checked</mat-icon>
    </button>-->
    <button routerLink="/admin" mat-icon-button class="user-icon">
      <img src="./assets/img/men.jpg" alt="User image">
    </button>

  </div>
</header>
