<header class="header">
  <div class="logo" routerLink="/">
    <!-- Вставка першого логотипу -->

    <img class="logo__img" src="./assets/img/hand-drawn-english-school-logo-template_23-2149495874.avif" alt="">
    <span class="logo__text">LinguaBoost</span>

  </div>
  <div class="users">


    <button mat-icon-button class="user-icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="user-icon">
      <mat-icon>star</mat-icon>
    </button>
    <button mat-icon-button class="user-icon">
      <mat-icon>radio_button_checked</mat-icon>
    </button>
    <button mat-icon-button class="user-icon">
      <img src="./assets/img/men.jpg" alt="User image">
    </button>

  </div>
</header>
