@use '../../../../scss/mixins' as m;

.main{
  width: 100%;
  display: flex;
  justify-content: center;


  .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    place-items: center;
    gap: 1rem;
    margin-top: 2rem;
    width: 1400px;
    //margin: 0 auto;

    .menu{
      display: none;
    }

    .filter{
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      width: 100%;
      .select-groups{
        display: flex;
        gap: 1rem;
      }

    }

    .content{
      width: 100%;
      //max-width: 1400px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;


      height: 100%;
      padding: 1rem;
     // background: white;

      .items{
        padding: 1rem;
        transition: all 1s ease-out;
        width: 250px;

        .item{
          width: 100%;
          cursor: pointer;
          .poster{
            width: 100%;
            object-fit: cover;
            border-radius: 1rem;
          }
        }
        h3{
          margin: 0;
        }
        h5{
          opacity: .7;
        }

        &:hover{
          transform: scale(1.1);
          opacity: 0.9;
        }
      }
    }

    @include m.tablet{
      width: 750px;
      //margin-top: 5rem;
      grid-template-rows:  1fr;
      margin: 0;
      .menu{
        display: block;
      }
      .filter{
        flex-direction: column;
        align-items: flex-start;
       // justify-content: center;
       // align-items: center;
        //margin-top: 1rem;

        .select-groups{
          flex-direction: column;
        }
      }

    }

    @include m.mobile{
      width: 350px;

      .filter{

      }
    }
  }

}
