@use './../../../scss/mixins' as m;

.content{
  display: grid;
  grid-template-columns: minmax(5rem,18rem) 1fr;
  grid-template-rows: 1fr;
  margin: 1rem;

  .box{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin:  1rem;
    background: white;
    border-radius: 1rem;
  }
}
