@use './../../../scss/mixins' as m;

.content{
  margin: 0 auto;
  max-width: 1000px;


  .box{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin:  1rem;
    background: white;
    border-radius: 1rem;
  }
}
