@use '../../../../scss/mixins' as m;

.side-box{
  background: white;
  border-radius: 1rem;
  overflow-y: auto;
  margin-top: 1rem;
  min-height: 90vh;


  .content{
    display: flex;
    flex-direction: column;
    align-items:stretch ;
    width: 100%;
    padding: 1rem;
    gap: 2px;
    height: 100%;
    h3{
      text-align: center;
    }
  }

  //Responsibility


  @include m.mobile{
    display: none;
  }
}
