<div class="main">
  <div class="search">
    <input type="text" placeholder="Search..." [(ngModel)]="search" (keyup)="onSearch()">

  </div>
  <div class="tests">
    <button mat-raised-button
            matTooltip="Audio and write English"
            matTooltipPosition="above"
            routerLink="/theme/1/lesson/1">
      Basic
    </button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
  </div>
</div>
