
:host{
  display: flex;
  justify-content:flex-start;
  height: 100%;
  gap: 1rem;
}
/*:host{

  grid-template-columns: minmax(3rem,18rem) 1fr;
  grid-template-rows: 100%;
  height: 100%;
  justify-content: center;

}*/

