@use '../../../scss/variables' as v;

.main {
  display: flex;
  //justify-content: center;
  max-width: 100%;
  height: 100%;
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 18rem;
  margin-right: 2rem;
  border-radius: 1rem;

}
