<div class="statist">
  <div class="content">
    <div class="h">
      <h1>All Words</h1>
    </div>
    <div class="text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, blanditiis?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, blanditiis?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, blanditiis?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, blanditiis?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, blanditiis?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, blanditiis?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eligendi ipsam iure perspiciatis voluptates? Accusantium aliquam amet animi asperiores deserunt earum excepturi fugiat hic illo maiores, natus, nemo, neque obcaecati quisquam saepe tempora temporibus. Beatae debitis dolorem eius fugiat harum ipsam officia quod quos sit suscipit. Accusamus, alias aperiam consequatur consequuntur cum cupiditate delectus dolore dolores doloribus dolorum enim eos esse ex expedita labore magni minima molestias nam nobis nulla omnis perferendis praesentium quae qui quisquam quod repellat saepe sint totam, ullam ut veritatis vero voluptates! Accusamus adipisci consequatur culpa deserunt distinctio dolorem excepturi fugiat id impedit ratione sapiente, tempore? </p>
    </div>


  </div>

</div>
