@use '../../../scss/variables' as v;
@use '../../../scss/mixins' as m;

.statist {

  max-width: 100%;
  height: 100%;
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 16rem;
  margin-right: 2rem;
  border-radius: 1rem;
  .content{
    //width: 100%;
    display: flex;
    flex-direction: column;
  }

  @include m.tablet{
    margin-left: 12rem;
  }
  @include m.mobile{
    margin: 0 auto;
    width: 90%;
  }

}
