<div class="mainBox">
  <div class="main">
    <div class="box">

      <button mat-icon-button (click)="speak(item.phrase)">
        <mat-icon color="primary">play_circle</mat-icon>
      </button>

      <div class="box-text">
        <div class="t-box" >
          <span class="text">{{item.phrase}}</span>
        </div>
        <div class="t-box t-box2" (click)="isVisible1=!isVisible1">
          <span *ngIf="isVisible1; else visible1" class="text2">{{item.translateToUA}}</span>
          <ng-template #visible1>
            <span class="text">******</span>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="next">
      <button class="next" mat-raised-button color="primary" (click)="nextTo()">Next</button>
    </div>
  </div>

  <div class="close">
    <button mat-icon-button routerLink="/phrases/1">
      <mat-icon>close</mat-icon>
    </button>
  </div>

</div>
