<div class="mainBox">
  <div class="main">
    <div class="box">

      <button mat-icon-button (click)="speak(item.phrase)">
        <mat-icon color="primary">play_circle</mat-icon>
      </button>

      <div class="box-text">
        <div class="t-box" (click)="isVisible=!isVisible">
          <span  *ngIf="isVisible; else visible" class="text">{{item.phrase}}</span>
          <ng-template #visible>
            <span class="text">******</span>
          </ng-template>
        </div>
        <div class="t-box t-box2" (click)="isVisible1=!isVisible1">
          <span *ngIf="isVisible1; else visible1" class="text2">{{item.translateToUA}}</span>
          <ng-template #visible1>
            <span class="text">******</span>
          </ng-template>
        </div>
      </div>
    </div>


    <div *ngIf="!isVisible" class="combine">
      <app-combine-text  *ngFor="let a of item.phrase.split(' ')" [text]="a"></app-combine-text>
    </div>

    <div *ngIf="!isVisible" class="next">
      <mat-form-field class="mat-input">
        <!--<mat-label>Phrase</mat-label>-->
        <input matInput placeholder="Write text..." [formControl]="inputValue">
      </mat-form-field>
    </div>




    <div class="next">
      <button  *ngIf="!isVisible"  class="btn-next" mat-raised-button color="accent" [disabled]="!phrase" (click)="check()">Check</button>
      <button class="btn-next" mat-raised-button color="primary" (click)="nextTo()">Next</button>
    </div>
  </div>

  <footer *ngIf="isCheck" class="footer">
    <div class="result">
      <span *ngIf="isResultEqual;else result">
        Great Work!!!
      </span>
      <ng-template #result>
        <span >Sorry</span>
      </ng-template>

    </div>
  </footer>



  <div class="close">
    <button mat-icon-button routerLink="/">
      <mat-icon>close</mat-icon>
    </button>
  </div>

</div>
