@use './../../../../scss/mixins' as m;

.mainBox{
  width: 100%;
  position: relative;
  overflow: hidden;

  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    //margin: 0 1rem;
    margin: 0 ;


    width: 100%;


    .box{
      display: flex;
      align-items: center;
      min-width: 600px;
      gap: 1rem;
      background: white;
      padding: 1rem;
      margin-bottom: 2rem;
      margin-top: -10%;
      border-radius: 1rem;
      box-shadow: 5px 5px 15px 5px #dbe6e8;
      @include m.mobile{
        min-width: 340px;
        gap: .5rem;
      }
      .box-text{
        width: 100%;
        display: grid;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        .t-box{
          padding: 5px;
          .text{
            font-size: 1.5rem;
          }
          .text2{
            color: #787777;
            font-size: 1.2rem;
          }
          &.t-box2{
            cursor: pointer;
          }
        }
      }
    }

    .combine{
      display: flex;
      gap: .5rem;
      //width: 100%;
      //background: white;
      padding: 1rem;
      margin: 1rem auto;
      border-radius: 1rem ;
      flex-wrap: wrap;


    }

    .next {

      display: flex;
      gap: 3rem;
      width: 100%;
      justify-content: center;
      margin: 0 auto;

      .mat-input{
        min-width: 600px;

        .mdc-text-field--filled {
          background-color: white ;
        }

        @include m.mobile{
          min-width: 330px;
        }
      }

      .btn-next {
        min-width: 150px;
      }
    }
  }

  .footer{
    position: absolute;
    width: 100%;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    min-height:75px;
    span{
      font-size: 2rem;
      font-weight: 700;
      padding: 1rem;
    }


  }

  .close{
    position: absolute;
    right: 5%;
    top: 5%;
  }
}
