@use './../../../../scss/mixins' as m;

.mainBox{
  width: 100%;
  position: relative;

  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 1rem;

    .box{
      display: flex;
      align-items: center;
      min-width: 600px;
      gap: 1rem;
      background: white;
      padding: 1rem;
      margin-bottom: 2rem;
      margin-top: -10%;
      border-radius: 1rem;
      @include m.mobile{
        min-width: 340px;
        gap: .5rem;
      }
      .box-text{
        width: 100%;
        display: grid;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        .t-box{
          padding: 5px;
          .text{
            font-size: 1.5rem;
          }
          .text2{
            color: #787777;
            font-size: 1.2rem;
          }
          &.t-box2{
            cursor: pointer;
          }
        }
      }
    }

    .next {

      display: flex;
      width: 100%;
      justify-content: center;
      margin: 0 auto;

      .mat-input{
        min-width: 600px;

        .mdc-text-field--filled {
          background-color: white ;
        }

        @include m.mobile{
          min-width: 330px;
        }
      }

      .btn-next {
        min-width: 150px;
      }
    }

  }

  .close{
    position: absolute;
    right: 5%;
    top: 5%;
  }
}
