

.list {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  padding-left:1rem;
  padding-bottom:  .5rem;
  padding-top:  .5rem;
 // max-width: 17.25rem;
  width: 100%;
  min-height: 2.8rem;
  height: fit-content;
  word-break: break-word;
  margin-bottom: .2rem;
  position: relative;
  transition: all .5s ease;
  color: inherit;
  z-index: 0;
  border-radius: 2px;
  background: #f6f6f6;
  opacity: 0.8;

  &:hover{
    margin-left: 5%;
    opacity: 1;
    cursor: pointer;
  }
  & > svg {
    margin-right: 1rem;
    min-width: 1rem;
  }

  &.active{
    margin-left: .5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  }


}
