<div *ngIf="item" class="mainList">
  <div class="word"
       [class.active]="isExample">

    <div class="expand">
      <button  mat-icon-button (click)="setExample()">
        <mat-icon  >expand_more</mat-icon>
      </button>
      <button mat-icon-button (click)="speak(item.englishWord)">
        <mat-icon color="primary">play_circle</mat-icon>
      </button>
    </div>

    <div class="englishWord">{{item.englishWord}}</div>

    <div class="translation" (click)="isTranslateWord=!isTranslateWord">
      <span *ngIf="isTranslateWord ;else trans">***</span>
      <ng-template #trans>{{item.ukrainianTranslation}}</ng-template>
    </div>

  <!--  <div class="translation" (click)="isTranscript=!isTranscript">
      <span *ngIf="isTranscript ;else transcript">***</span>
      <ng-template #transcript>{{item.englishTranscription}}</ng-template>
    </div>-->

    <div [ngSwitch]="item.level">
      <ng-template ngSwitchCase="1">
        <svg width="16" height="16" viewBox="0 0 16 16">
          <g fill="none" fill-rule="nonzero">
            <path fill="#DDE0E3" d="M7.5 5h1A1.5 1.5 0 0 1 10 6.5v7A1.5 1.5 0 0 1 8.5 15h-1A1.5 1.5 0 0 1 6 13.5v-7A1.5 1.5 0 0 1 7.5 5zm5-4h1A1.5 1.5 0 0 1 15 2.5v11a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-11A1.5 1.5 0 0 1 12.5 1z"></path>
            <path fill="#E2222E" d="M2.5 9h1A1.5 1.5 0 0 1 5 10.5v3A1.5 1.5 0 0 1 3.5 15h-1A1.5 1.5 0 0 1 1 13.5v-3A1.5 1.5 0 0 1 2.5 9z"></path>
          </g>
        </svg>
      </ng-template>
      <ng-template ngSwitchCase="2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
          <g fill="none" fill-rule="nonzero">
            <path fill="#F88800" d="M10.5 7.5h3A1.5 1.5 0 0 1 15 9v12a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 21V9a1.5 1.5 0 0 1 1.5-1.5zm-7.5 6h3A1.5 1.5 0 0 1 7.5 15v6A1.5 1.5 0 0 1 6 22.5H3A1.5 1.5 0 0 1 1.5 21v-6A1.5 1.5 0 0 1 3 13.5z"></path>
            <rect width="6" height="21" x="16.5" y="1.5" fill="#DDE0E3" rx="1.5"></rect>
          </g>
        </svg>
      </ng-template>
      <ng-template ngSwitchCase="3">
        <svg width="16" height="16" viewBox="0 0 16 16">
          <path fill="#008A22" fill-rule="nonzero"
                d="M2.5 9h1A1.5 1.5 0 0 1 5 10.5v3A1.5 1.5 0 0 1 3.5 15h-1A1.5 1.5 0 0 1 1 13.5v-3A1.5 1.5 0 0 1 2.5 9zm5-4h1A1.5 1.5 0 0 1 10 6.5v7A1.5 1.5 0 0 1 8.5 15h-1A1.5 1.5 0 0 1 6 13.5v-7A1.5 1.5 0 0 1 7.5 5zm5-4h1A1.5 1.5 0 0 1 15 2.5v11a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-11A1.5 1.5 0 0 1 12.5 1z"></path>
        </svg>
      </ng-template>



    </div>

    <div class="action">
      <div>
        <button mat-icon-button color="warn" >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="isExample" class="sentence">
    <div class="example">
      <div class="mat-body-2">Example</div>
      <button mat-icon-button (click)="speak(item.englishSentence)">
        <mat-icon color="primary">play_circle</mat-icon>
      </button>
    </div>
    <div class="text">
      <p class="englishSentence">{{item.englishSentence}}</p>

      <div  (click)="isUkrainianTranslationOfSentence=!isUkrainianTranslationOfSentence">
        <p *ngIf="isUkrainianTranslationOfSentence ;else translateSentence"
              class="translateSentence"
      >{{item.ukrainianTranslationOfSentence}}
      </p></div>

      <ng-template #translateSentence>
        <p class="translateSentence"> **********</p>
      </ng-template>

    </div>
    <div class="synonyms">
      <h3> Synonyms:</h3>
        <div class="btn">
          <button mat-raised-button *ngFor="let syn of item.synonyms; index as i ">
            <span (click)="speak(item.synonyms[i])">{{syn }}</span>
          </button>
        </div>

      <!-- <span class="synonyms__item" *ngFor="let syn of item.synonyms ">{{syn }}</span>-->
    </div>

  </div>

</div>



