@use '../../../scss/mixins' as m;

.main{
  position: relative;

  .container {
    /*padding-top: 3rem;
    padding-bottom: 5rem;*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__box {
      max-width: 60rem;
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__layout{
        width: 500px;
        min-height: 420px;
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        &__img{
          .img{
            width: 300px;
            height: 200px;
            overflow: hidden;
            margin: 0 auto;
            outline: none;
            svg{
              width: 100%;
              height: 100%;
              transform: translate3d(0px, 0px, 0px);
              content-visibility: visible;
            }
          }
        }
        &__text{
          padding: 0.5rem;
          h2{
            padding-top: 0;
            margin-bottom: 1rem;
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.3em;
            text-align: center;
          }
        }
        &__progress{
          max-width: 800px;
          width: 100%;
          margin-bottom: 12px;
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .group{
            display: grid;
            grid-template-columns: 1fr 80px 80px;
            &__item{
              background-color: rgb(255, 255, 255);
              border: 2px solid rgb(218, 225, 234);
              border-radius: 0.5rem;
              padding: 1rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 1.5rem;
              font-weight: 700;

              &__value{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 1rem;

                .mat-style{
                  color: rgb(255, 202, 58);
                }

              }
              &__stat{
                text-align: center;
              }
            }
            &__item1{
              background-color: rgb(255, 255, 255);
              border: 2px solid rgb(218, 225, 234);
              border-radius: 0.5rem;
              padding: .5rem;
              font-size: 1.2rem;
              font-weight: 700;
              display: flex;
              justify-content: center;
              align-items: center;
              &__record{
                color: #d8b90f;
                font-size: 1.5rem;
              }
              &__medium{
              color: #868686;
            }

            }
            .itemStyle{
              background-image: url('https://cdn.busuu.com/webapp/27.13.0/images/banners/pasd-small-banner.svg');
              background-position:bottom;
              background-size: contain;

            }
          }

        }
      }
      }

    &__footer{
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      //max-height: 5rem;
     // background: green;
      box-shadow: 0 0 1rem -0.1rem #d6dee6;
      margin-top: auto;
      .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:1rem;
        max-width: 80%;
        padding: 2rem;
        margin: 0 auto;
        button{
          min-width: 200px;
        }
      }


    }
  }

  @include m.tablet{
  }
  @include m.mini{

    .container{
     // padding-top: 2rem;
      padding-bottom: 2rem;
      &__box{
        max-width: 95%;
        z-index: 100;

        &__layout{
          max-width: 350px;
          min-height: 420px;
          margin: auto;
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;

          &__img{
            .img{
              width: 300px;
              height: 100px;

                transform: translate3d(0px, 0px, 0px);
                content-visibility: visible;
            }
          }
          &__progress{

            .group{
              grid-template-columns: 200px 75px 75px;
              &__item{
                font-size: 1rem;
                padding: .5rem;
                &__value{
                  gap: 0;
                }
              }
              &__item1 {
                &__record {
                  font-size: 1rem;
                  &.s{
                    font-size: 1.2rem;
                  }
                }


                &__medium {

                  font-size: 1rem;
                }
              }

            }
          }
        }
      }

      &__footer{
        z-index: 1;
        .content{
            flex-direction: column;
            padding: 1rem;
        }
      }
    }

  }
}

.up{
  color: #116a11;
}
.down{
  color: #e64848;
}
