<div class="lesson3">
  <div class="page">
    <div class="content">
      <div class="text">
        <h1>Goal to now</h1>
      </div>

      <div class="goals">
        <div class="goals__logo">
          <img src="assets/img/star.svg" alt="">
        </div>
        <div class="goals__progress">
          <div class="goals__progress__text">Get 120 stars</div>
          <div class="goals__progress__values">

            <div class="bar">
              <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </div>
            <div>{{countScore}}/120</div>
          </div>
        </div>
      </div>
      <div class="goals">
        <div class="goals__logo">
          <img src="assets/img/cub.svg" alt="">
        </div>
        <div class="goals__progress">
          <div class="goals__progress__text">Пройди 3 урока

          </div>
          <div class="goals__progress__values">

            <div class="bar">
              <mat-progress-bar mode="determinate" value="33"></mat-progress-bar>
            </div>
            <div>{{countLessons}}/3</div>
          </div>
        </div>
      </div>
      <div class="goals">
        <div class="goals__logo">
          <img src="assets/img/progress-full.svg" alt="">
        </div>
        <div class="goals__progress">
          <div class="goals__progress__text">Набери більше 80% за уроки</div>
          <div class="goals__progress__values">

            <div class="bar">
              <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </div>
            <div>{{percentage}}%</div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="box">
        <div></div>
        <button color="primary" mat-raised-button routerLink="/theme/-1">Continue</button>
      </div>
    </footer>
  </div>
</div>
