<main class="verbs">
  <div class="main">
    <div class="box">
      <div class="filter">

        <div class="menuLayout">
          <button class="menu" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
          </button>

          <div class="search">
            <input type="text" placeholder="Search..." [(ngModel)]="search">
          </div>

        </div>



        <mat-menu #menu="matMenu">
          <button
            *ngFor="let el of listPhrases$ | async "
            [routerLink]="['/phrases',el.id]"
            mat-menu-item>
            {{el.name}}
          </button>
        </mat-menu>

        <div class="btn">
          <mat-button-toggle-group [formControl]="formSort">
            <mat-button-toggle (click)="leanFn('true')" matTooltip="Trainer with visible">
              <mat-icon color="primary">local_library</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="leanFn('false')" matTooltip="Trainer with unVisible">
              <mat-icon color="warn">local_library</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="up" matTooltip="Sort Up">
              <mat-icon color="primary">arrow_upward</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="down" matTooltip="Sort down">
              <mat-icon color="warn">arrow_downward</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="random" matTooltip="Sort Random">
              <mat-icon color="accent">shuffle</mat-icon>
            </mat-button-toggle>

          </mat-button-toggle-group>
        </div>


      </div>
      <div class="content">
        <app-verb-list
          *ngFor="let item of copyListPhrase | filterPhrases :search ; trackBy: trackByFn "
          [list]="item"
          [searchWord]="search"
          (speakFn)="speak($event)"
        ></app-verb-list>

        <mat-paginator
          (page)="onPageChange($event)"
          [length]="listPhrases.length"
          [pageSize]="25"
          [pageSizeOptions]="[ 25,50,75 ,100]"
          aria-label="Select page">
        </mat-paginator>
      </div>

    </div>
  </div>
</main>
