@use '../../../../scss/mixins' as m;

.verbs{
 // width: 100%;
  margin: 1rem;

  .main{
    //margin: 1rem auto;
    max-width: 1250px;
    background:white;
    padding: 1rem;
    border-radius: 1rem;
   // margin-bottom: 1rem;

    .box{
      display: flex;
      max-width: 100%;
      flex-direction: column;

      .filter{
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        gap: 1rem;
          .search{
            display: flex;
            border-bottom: 1px solid #d9ebf1;
            padding: 5px;
            max-width: 100%;
          }


      }
      .content{
        padding: 1rem;


      }

    }

  }
}
