<div class="filter-box">

  <div class="search">
    <button class="menu" mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button
        *ngFor="let el of list$ | async as list "
        [routerLink]="['/theme',el.id]"
        mat-menu-item>
        {{el.name}}
      </button>
    </mat-menu>

    <input type="text" placeholder="Search..." [(ngModel)]="search" (keyup)="onSearch()">
  </div>

  <div class="sort">


    <mat-button-toggle-group (change)="onSort($event.value)" name="btn">
      <mat-button-toggle
        value="1"
        matTooltip="A-Z">
        <mat-icon>arrow_upward</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        value="2"
        matTooltip="Z-A">
        <mat-icon>arrow_downward</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle
        value="3"
        matTooltip="Progress up">
        <mat-icon>trending_up</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        value="4"
        matTooltip="Progress down">
        <mat-icon>trending_down</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        value="5"
        matTooltip="Random">
        <mat-icon>shuffle</mat-icon>
      </mat-button-toggle>


    </mat-button-toggle-group>

  </div>

  <div class="tests">
    <button (click)="writeEng('trainer')"
            mat-raised-button
            matTooltip="Training"
            matTooltipPosition="above"
            [disabled]="id==='-1'"
    >Training
    </button>
    <button (click)="writeEng('lesson')"
            mat-raised-button
            matTooltip="Audio and write English"
            matTooltipPosition="above"
            [disabled]="id=='-1'"
    >Write
    </button>
    <button (click)="writeEng('translateEng')"
            matTooltip="Translate word into Ukrainian"
            matTooltipPosition="above"
            mat-raised-button
            [disabled]="id=='-1'"
    >ToEng
    </button>
    <button (click)="writeEng('translateUa')"
            matTooltip="Translate word into Ukrainian"
            matTooltipPosition="above"
            mat-raised-button
            [disabled]="id==='-1'"
    >ToUa
    </button>
  </div>
</div>
