<div class="sidebar">
  <div class="cont">
    <h3>ALL THEMES IS {{themes.length}}</h3>
    <mat-form-field class="search">
      <mat-label>Choose theme...</mat-label>
      <input matInput type="text" [(ngModel)]="inputValue">
      <button *ngIf="inputValue" matSuffix mat-icon-button aria-label="Clear" (click)="inputValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <app-list-themes
      *ngFor="let item of themes | filterTheme : inputValue ; trackBy: trackByFn "
      [item]="item"
    ></app-list-themes>
  </div>

</div>
