/* You can add global styles to this file, and also import other style files */
@use './scss/variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  appearance: none;
  text-decoration: none ;
  list-style: none;
  box-sizing: border-box;

}
body,html {
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: v.$bg-main;

}




