@mixin flex($align-item, $justify-content) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}

@mixin mini {
  @media only screen and (max-width: 400px) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin notebook {
  @media only screen and (max-width: 1400px) {
    @content;
  }
}

