
//background
$bg-main:#f2f7fd;
$bg-second:white;
$bg-hover:rgb(243, 248, 254);
$background-gradient: linear-gradient(180deg,#fff,#f2f7fd);


//color
$color-hover:#116EEE;
$color-nav:#4b5766;
$color-second:#666e7e;;
