<div class="container">

  <div class="card" routerLink="/">
    <div class="lines"></div>
    <div class="imgBx">
      <img src="" alt="">
    </div>
    <div class="content">
      <h2>Home</h2>
      <p>Go to home page and Learning English</p>

    </div>
  </div>

  <div class="card" routerLink="/admin/word/0">
    <div class="lines"></div>
    <div class="imgBx">
      <img src="" alt="">
    </div>
    <div class="content">
        <h2>Words</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, quia.</p>
    </div>
  </div>

  <div class="card" routerLink="/admin/phrase/0">
    <div class="lines"></div>
    <div class="imgBx">
      <img src="" alt="">
    </div>
    <div class="content">
        <h2>Phrases</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, quia.</p>
    </div>
  </div>
</div>
