<header class="header">
  <div class="container">
    <div class="box">
      <div routerLink="/" class="toMain">
        <span> Main</span>
      </div>
      <div class="list-group">
        <ul class="list">
          <li class="list-item">
            <a routerLink="/admin/dashboard"
               routerLinkActive=" active"
               class="list-a">Home</a>
          </li>
          <li class="list-item">
            <a routerLink="word/0"
              routerLinkActive="active"
               class="list-a ">Words</a>
          </li>
          <li class="list-item">
            <a routerLink="phrase/0"
              routerLinkActive="active"
               class="list-a">Phrase</a>
          </li>
          <li class="list-item" (click)="logout()">
            <a class="list-a">Exit</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
